#include <windows.h>

#include "resource.h"

// //
// //
// // Icon
// //
// //

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_APP_ICON            ICON                    "resources\\app_icon.ico"

// //
// //
// // Version
// //
// //

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 1,0,0,1
  PRODUCTVERSION 1,0,0,1
  FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
  FILEFLAGS 0x1L
#else
  FILEFLAGS 0x0L
#endif
  FILEOS 0x40004L
  FILETYPE 0x1L
  FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "PClash Contributors"
            VALUE "FileDescription", "PClash - Modern Multi-Platform Proxy Client"
            VALUE "FileVersion", "1.0.0"
            VALUE "InternalName", "pclash"
            VALUE "LegalCopyright", "Copyright (C) 2026 PClash Contributors. All rights reserved."
            VALUE "OriginalFilename", "pclash.exe"
            VALUE "ProductName", "PClash"
            VALUE "ProductVersion", "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
